<div class="row" *ngIf="loginStatus()==1">
  <div class="col-md-12 col-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>

      <div class="card-content">
        <h4 class="card-title" style="color: #4e4e4e;font-size: 17px">STUDENT DETAILS</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">
          <table class="table table-striped table-no-bordered table-hover datatables" cellspacing="0"
                 width="100%" style="width:100%">
            <thead>
            <tr>
              <th>Student ID</th>
              <th>Name With Initials</th>
              <th>Email</th>
              <th class="disabled-sorting text-right">Remove</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Student ID</th>
              <th>Name With Initials</th>
              <th>Email</th>
              <th class="text-right">Remove</th>
            </tr>
            <div style="padding-top: 20px;right: 0px;position: absolute">
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
            </tfoot>
            <tbody>
            <tr style="font-size: 16px;background-color: white;height: 50px;cursor: pointer"
                *ngFor="let student of students | paginate: { itemsPerPage: 5, currentPage: p }" (click)="selectStudent(student)"
                [ngClass]="{'green':selectedRow==student.studentID}">
              <td>{{student.studentID}}</td>
              <td>{{student.nameWithInitials}}</td>
              <td>{{student.email}}</td>
              <td class="text-right">
                <a href="#" class="btn btn-simple btn-danger btn-icon remove"><i
                  class="material-icons">close</i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <style>
            .green {
              color: green;
              font-weight: bold
            }
            .my-pagination /deep/ .ngx-pagination .current {
              background: #e9b500;
              border-radius: 100px;
            }
            .my-pagination /deep/ .ngx-pagination {
              font-size: 17px;
            }
          </style>
        </div>
      </div><!-- end content-->
    </div><!--  end card  -->
  </div>
</div> <!-- end col-md-12 -->
<div class="row">
  <div class="col-md-12 col-12">
    <div class="card">
      <form class="form-horizontal" (ngSubmit)="frmStudent.form.valid && saveStudent()" #frmStudent="ngForm"
            action="" method="post">
        <div class="card-header card-header-text" data-background-color="rose">
          <h4 class="card-title" style="font-weight: lighter">STUDENT DETAILS</h4>
        </div>
        <!-- /.card-header -->
        <div class="card-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-footer">
                <div style="font-weight: bold" *ngIf="loginStatus()!=5">Note:- If you are a new student, the system will
                  automatically generate a new Student ID.
                </div>
                <div style="font-weight: bold" *ngIf="loginStatus()==5">Note:- The browser is temporary saving your data
                  until you do the payment.
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="loginStatus()!=5">
            <label class="col-sm-2 label-on-left">Student ID</label>
            <div class="col-sm-9">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="text" class="form-control" name="txtId" disabled [(ngModel)]="student.studentID">
              </div>
            </div>
            <div class="col-sm-1" *ngIf="loginStatus()==1">
              <i class="fa fa-times fa-2x" style="color: red;cursor: pointer" (click)="resetId()"></i>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Title</label>
            <div class="col-sm-10">
              <select class="form-control" data-style="select-with-transition" title="Single Select"
                      [(ngModel)]="student.title" name="txtStudentTitle" (change)="saveToLocalStorage()">
                <option selected>Mr</option>
                <option>Miss</option>
                <option>Mrs</option>
              </select>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Name with initials</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input id="txtStudentNameInit" type="text" class="form-control" required="true"
                       #txtStudentNameInit="ngModel"
                       [(ngModel)]="student.nameWithInitials"
                       name="txtStudentNameInit" (keyup)="saveToLocalStorage()">
                <span *ngIf="frmStudent.submitted && txtStudentNameInit.invalid" class="invalid-feedback">
                  <span *ngIf="txtStudentNameInit.errors.required" style="color: red;font-weight: bold">Required</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Full Name</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="text" class="form-control" required="true" [(ngModel)]="student.fullName"
                       name="txtStudentFullName" (keyup)="saveToLocalStorage()" #txtStudentFullName="ngModel">
                <span *ngIf="frmStudent.submitted && txtStudentFullName.invalid" class="invalid-feedback">
                  <span *ngIf="txtStudentFullName.errors.required" style="color: red;font-weight: bold">Required</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Address</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="text" class="form-control" required="true" [(ngModel)]="student.address" name="txtAddress"
                       #txtAddress="ngModel"
                       (keyup)="saveToLocalStorage()">
                <span *ngIf="frmStudent.submitted && txtAddress.invalid" class="invalid-feedback">
                  <span *ngIf="txtAddress.errors.required" style="color: red;font-weight: bold">Required</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Date of birth</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="date" class="form-control" required="true" [(ngModel)]="student.dateOfBirth"
                       #txtDateOfBirth="ngModel"
                       name="txtDateOfBirth" (change)="saveToLocalStorage()">
                <span *ngIf="frmStudent.submitted && txtDateOfBirth.invalid" class="invalid-feedback">
                  <span *ngIf="txtDateOfBirth.errors.required" style="color: red;font-weight: bold">Required</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Email</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input email type="text" class="form-control" required="true" [(ngModel)]="student.email" name="txtEmailAddress"
                       #txtEmailAddress="ngModel"
                       (keyup)="saveToLocalStorage()">
                <span *ngIf="frmStudent.submitted && txtEmailAddress.invalid" class="invalid-feedback">
                  <span *ngIf="txtEmailAddress.errors.required" style="color: red;font-weight: bold">Required</span>
                  <span *ngIf="txtEmailAddress.errors.email" style="color: red;font-weight: bold">Must be a valid email address</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Telephone</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="text" class="form-control" required="true" [(ngModel)]="student.telephone"
                       #txtTelephone="ngModel"
                       name="txtTelephone" (keyup)="saveToLocalStorage()" [pattern]="telephonePattern">
                <span *ngIf="frmStudent.submitted && txtTelephone.invalid" class="invalid-feedback">
                  <span *ngIf="txtTelephone.errors.required" style="color: red;font-weight: bold">Required</span>
                  <span *ngIf="txtTelephone.errors?.pattern" style="color: red;font-weight: bold">Invalid Telephone Number</span>
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <label class="col-sm-2 label-on-left">Gender</label>
            <div class="col-sm-10 checkbox-radios">
              <div class="radio">
                <label>
                  <input type="radio" ng-control="options" name="optionsRadios" [(ngModel)]="student.gender"
                         value="Male" (click)="setGender('Male')">
                  Male
                </label>
              </div>
              <div class="radio">
                <label>
                  <input type="radio" ng-control="options" name="optionsRadios" [(ngModel)]="student.gender"
                         value="Female" (click)="setGender('Female')">
                  Female
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="height: 50px"></div>
          </div>
          <div class="row" style="padding-left: 50px">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
              <div class="card-footer">
                <button *ngIf="loginStatus()==1" type="submit" style="left: 50%;transform: translateX(-50%)"
                        class="btn btn-fill">Submit / Update Student
                </button>
                <button *ngIf="loginStatus()!=1" type="submit" style="left: 50%;transform: translateX(-50%)"
                        class="btn btn-fill">Next to register
                </button>
              </div>
            </div>
            <div class="col-sm-4" *ngIf="loginStatus()==1">
              <div class="card-footer">
                <button type="button" style="left: 50%;transform: translateX(-50%)" class="btn btn-fill"
                        (click)="nextPage()" [disabled]="student.studentID==undefined">Next
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!--<form method="POST" enctype="multipart/form-data" modelAttribute="fileBucket" (ngSubmit)="upload()"-->
      <!--#frmUp="ngForm" action="">-->
      <!--<input type="file" name="file" multiple="multiple" #fileInput>-->
      <!--<div>{{size}}</div>-->
      <!--<button type="submit">Click</button>-->
      <!--</form>-->
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
