<!-- multistep form -->
<div class="main-panel">
  <nav class="navbar navbar-transparent navbar-absolute" style="background-color: #FAFAFA">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="color: grey"> Subjects </a>
      </div>
    </div>

    <div class="row" style="min-height: 75vh">
      <div class="col-md-12 col-12">
        <li style="list-style-type: none">
          <a class="subjectStyle" data-toggle="collapse" href="#degree1">
            <p style="padding: 10px;margin-bottom: 0px;"> BSc(CS) - Faculty Of Science
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="degree1" style="margin-left: 60px">
            <ul class="nav">
              <li class="btnMain">
                <a class="subjectStyle" data-toggle="collapse" href="#dep1">
                  <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Department Of Maths
                    <b class="caret"></b>
                  </p>
                </a>
                <div class="collapse" id="dep1">
                  <ul class="nav">
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 1
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 2
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 3
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester3">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 4
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>

              </li>
              <li>
                <a class="subjectStyle" data-toggle="collapse" href="#dep2">
                  <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Department Of Computer Science
                    <b class="caret"></b>
                  </p>
                </a>
                <div class="collapse" id="dep2" style="margin-left: 160px">
                  <ul class="nav">
                    <li>
                      <a class="subjectStyle" data-toggle="collapse" href="#sem1">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 1
                          <b class="caret"></b>
                        </p>
                      </a>
                      <div class="collapse" id="sem1" style="margin-left: 80px">
                        <ul class="nav">
                          <li>
                            <a class="subjectStyle" data-toggle="collapse" href="#stuff1">
                              <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Java
                                <b class="caret"></b>
                              </p>
                            </a>
                            <div class="collapse" id="stuff1" style="margin-left: 80px">
                              <ul class="nav">
                                <li>
                                  <a class="subjectStyle" data-toggle="collapse" href="#semester2">
                                    <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Lecture Notes

                                    </p>
                                  </a>
                                </li>
                                <li>
                                  <a class="subjectStyle" data-toggle="collapse" href="#semester2">
                                    <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Assignments

                                    </p>
                                  </a>
                                </li>
                                <li>
                                  <a class="subjectStyle" data-toggle="collapse" href="#semester2">
                                    <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Tutorials

                                    </p>
                                  </a>
                                </li>
                              </ul>
                            </div>

                          </li>
                          <li>
                            <a class="subjectStyle" data-toggle="collapse" href="#semester2">
                              <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Database
                                <b class="caret"></b>
                              </p>
                            </a>
                          </li>
                          <li>
                            <a class="subjectStyle" data-toggle="collapse" href="#semester2">
                              <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Software Engineering
                                <b class="caret"></b>
                              </p>
                            </a>
                          </li>
                        </ul>
                      </div>

                    </li>
                    <li>
                      <a class="subjectStyle" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 2
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 3
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" data-toggle="collapse" href="#semester3">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 4
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>

              </li>
              <li class="btnMain">
                <a class="subjectStyle" data-toggle="collapse" href="#dep3">
                  <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Department Of Physics
                    <b class="caret"></b>
                  </p>
                </a>
                <div class="collapse" id="dep3">
                  <ul class="nav">
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 1
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 2
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester2">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 3
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                    <li>
                      <a class="subjectStyle" style="margin-left: 160px" data-toggle="collapse" href="#semester3">
                        <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Semester 4
                          <b class="caret"></b>
                        </p>
                      </a>
                    </li>
                  </ul>
                </div>

              </li>
            </ul>
          </div>
        </li>

        <li style="list-style-type: none">
          <a class="subjectStyle" data-toggle="collapse" href="#degree2">
            <p style="padding: 10px;margin-bottom: 0px;"> MSc(CS) - Faculty Of Science
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="degree2" style="margin-left: 60px">
            <ul class="nav">
              <li class="btnMain">
                <a class="subjectStyle">
                  <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Department Of Maths
                    <b class="caret"></b>
                  </p>
                </a>
              </li>
              <li>
                <a class="subjectStyle">
                  <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Department Of Computer Science
                    <b class="caret"></b>
                  </p>
                </a>
              </li>
              <li class="btnMain">
                <a class="subjectStyle">
                  <p class="sidebar-normal" style="padding: 10px;margin-bottom: 0px;"> Department Of Physics
                    <b class="caret"></b>
                  </p>
                </a>
              </li>
            </ul>
          </div>

        </li>
      </div>
    </div>

    <footer class="footer" style="background-color: white;border-top: 1px solid #e7e7e7">
      <div class="container-fluid">
        <p class="copyright pull-right">
          Copyright &copy; {{getYear()}} - University Of Sri Jayewardenapura , Virtual Learning Environment / Developed
          by
          Imalka Gunawardana
        </p>
      </div>
    </footer>
  </nav>
</div>
