<div class="row">
  <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
    <form #frmLogin="ngForm" action="" method="post" (ngSubmit)="sendEmail()">
      <div class="card card-login card-hidden" style="background-color: rgba(0,0,0,0.6);border: none">
        <div class="card-header text-center" data-background-color="rose">
          <h4 class="card-title">Password Reset</h4>
          <div class="social-line">
            <a href="https://www.google.com/" target="_blank" class="btn btn-just-icon btn-simple">
              <i class="fa fa-google"></i>
            </a>
            <a href="#pablo" class="btn btn-just-icon btn-simple">
              <i class="fa fa-youtube-play"></i>
            </a>
            <a href="https://www.dropbox.com/" target="_blank" class="btn btn-just-icon btn-simple">
              <i class="fa fa-dropbox"></i>
            </a>
          </div>
        </div>
        <!--<p class="category text-center">-->
        <!--Or Be Classical-->
        <!--</p>-->
        <div class="card-content">

          <div class="input-group" style="margin-top: 40px">
        <span class="input-group-addon">
          <i class="material-icons">lock_outline</i>
        </span>
            <div class="form-group label-floating">
              <label class="control-label">Password</label>
              <input type="password" class="form-control" name="txtEmail" style="color: white">
            </div>
          </div>

          <div class="input-group">
        <span class="input-group-addon">
          <i class="material-icons">lock_outline</i>
        </span>
            <div class="form-group label-floating">
              <label class="control-label">Confirm Password</label>
              <input type="password" class="form-control" #verNumber name="txtCode" style="color: white">
            </div>
          </div>
          <div class="footer text-center">
            <button type="submit" class="btn btn-rose btn-simple btn-wd btn-lg" style="color: #e9b500">
              Reset
            </button>
          </div>

        </div>
      </div>
    </form>
  </div>
</div>
