<div class="row" *ngIf="loginStatus()!=5">
  <div class="col-md-12 col-12">
    <div class="card">
      <div class="card-header card-header-icon" data-background-color="purple">
        <i class="material-icons">assignment</i>
      </div>

      <div class="card-content">
        <h4 class="card-title" style="color: #4e4e4e;font-size: 17px">STUDENT REGISTRATION DETAILS</h4>
        <div class="toolbar">
          <!--        Here you can write extra buttons/actions for the toolbar              -->
        </div>
        <div class="material-datatables">
          <table class="table table-striped table-no-bordered table-hover datatables" cellspacing="0"
                 width="100%" style="width:100%">
            <thead>
            <tr>
              <th>Registration ID</th>
              <th>Name With Initials</th>
              <th>Degree</th>
              <th>Date</th>
              <th class="disabled-sorting text-right" *ngIf="loginStatus()==1">Remove</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Registration ID</th>
              <th>Name With Initials</th>
              <th>Degree</th>
              <th>Date</th>
              <th class="text-right" *ngIf="loginStatus()==1">Remove</th>
            </tr>
            <div style="padding-top: 20px;right: 0px;position: absolute">
              <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
            </div>
            </tfoot>
            <tbody>
            <tr style="font-size: 16px;background-color: white;height: 50px;cursor: pointer"
                *ngFor="let registrationData of registrations | paginate: { itemsPerPage: 5, currentPage: p }" (click)="selectRegistration(registrationData)"
                [ngClass]="{'green':selectedRow==registrationData.registrationId}">
              <td>{{registrationData.registrationId}}</td>
              <td>{{registrationData.student.nameWithInitials}}</td>
              <td>{{registrationData.degree.degreeName}}</td>
              <td>{{registrationData.date}}</td>
              <td class="text-right" *ngIf="loginStatus()==1">
                <a href="#" class="btn btn-simple btn-danger btn-icon remove"><i
                  class="material-icons">close</i></a>
              </td>
            </tr>
            </tbody>
          </table>
          <style>
            .green {
              color: green;
              font-weight: bold
            }
            .my-pagination /deep/ .ngx-pagination .current {
              background: #e9b500;
              border-radius: 100px;
            }
            .my-pagination /deep/ .ngx-pagination {
              font-size: 17px;
            }
          </style>
        </div>
      </div><!-- end content-->
    </div><!--  end card  -->
  </div>
</div> <!-- end col-md-12 -->
<div class="row">
  <div class="col-md-12 col-12">
    <div class="card">
      <form class="form-horizontal" (ngSubmit)="frmRegistration.form.valid && saveRegistration()"
            #frmRegistration="ngForm" action="" method="post">
        <div class="card-header card-header-text" data-background-color="rose">
          <h4 class="card-title" style="font-weight: lighter">STUDENT REGISTRATION</h4>
        </div>
        <!-- /.card-header -->
        <div class="card-content">
          <div class="row">
            <div class="col-sm-12">
              <div class="card-footer">
                <div style="font-weight: bold" *ngIf="loginStatus()!=5">Note:- Registration ID will be automatically
                  generated by the system.
                </div>
                <div style="font-weight: bold" *ngIf="loginStatus()==5">Note:- The browser is temporary saving your data
                  until you do the payment.
                </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="loginStatus()!=5">
            <label class="col-sm-2 label-on-left">Registration ID</label>
            <div class="col-sm-9">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="text" class="form-control" required="true" disabled
                       [(ngModel)]="registration.registrationId" name="txtRegistrationId">
              </div>
            </div>
            <div class="col-sm-1">
              <i class="fa fa-times fa-2x" style="color: red;cursor: pointer" (click)="resetId()"></i>
            </div>
          </div>
          <div class="row" *ngIf="loginStatus()!=5">
            <label class="col-sm-2 label-on-left">Student ID</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="text" class="form-control" required="true" disabled
                       [(ngModel)]="registration.student.studentID" name="txtStudentId">
              </div>
            </div>
          </div>

          <!--Login Status-->
          <div *ngIf="loginStatus()==1">
            <div class="row">
              <label class="col-sm-2 label-on-left">Faculty</label>
              <div class="col-sm-7">
                <select class="form-control" data-style="select-with-transition" title="Single Select"
                        [(ngModel)]="registration.degree.faculty.facultyName" name="txtFaculty"
                        (change)="loadCoursesViaFaculty(false)">
                  <option *ngFor="let faculty of faculties">
                    {{faculty.facultyName}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3">
                <div class="card-footer">
                  <button type="submit" class="btn btn-fill" style="width: 100%">Search Via Faculty</button>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Course(Degree)</label>
              <div class="col-sm-7">
                <select class="form-control" data-style="select-with-transition" #optionsCourse
                        (change)="loadInputFields()" [(ngModel)]="registration.degree.degreeName" name="txtDegree">
                  <option *ngFor="let degree of degrees">
                    {{degree.degreeName}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3">
                <div class="card-footer">
                  <button type="submit" class="btn btn-fill" style="width: 100%">Search Via Course</button>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Intake</label>
              <div class="col-sm-7">
                <select class="form-control" data-style="select-with-transition" title="Single Select"
                        [(ngModel)]="registration.intake.intakeMonth" name="txtIntake" (change)="saveToLocalStorage()">
                  <option *ngFor="let month of months">
                    {{month.intakeMonth}}
                  </option>
                </select>
              </div>
              <div class="col-sm-3">
                <div class="card-footer">
                  <button type="submit" class="btn btn-fill" style="width: 100%">Search Via Intake</button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="loginStatus()!=1">
            <div class="row">
              <label class="col-sm-2 label-on-left">Faculty</label>
              <div class="col-sm-10">
                <select class="form-control" data-style="select-with-transition" title="Single Select"
                        [(ngModel)]="registration.degree.faculty.facultyName" name="txtFaculty"
                        (change)="loadCoursesViaFaculty(false)">
                  <option *ngFor="let faculty of faculties">
                    {{faculty.facultyName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Course(Degree)</label>
              <div class="col-sm-10">
                <select class="form-control" data-style="select-with-transition" #optionsCourse
                        (change)="loadInputFields()" [(ngModel)]="registration.degree.degreeName" name="txtDegree">
                  <option *ngFor="let degree of degrees">
                    {{degree.degreeName}}
                  </option>
                </select>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Intake</label>
              <div class="col-sm-10">
                <select class="form-control" data-style="select-with-transition" title="Single Select"
                        [(ngModel)]="registration.intake.intakeMonth" name="txtIntake" (change)="saveToLocalStorage()">
                  <option *ngFor="let month of months">
                    {{month.intakeMonth}}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!--Login Status-->

          <div *ngIf="checkInputFields()">
            <div class="row">
              <label class="col-sm-2 label-on-left">School</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <input type="text" class="form-control" required="true" [(ngModel)]="underGraduate.school"
                         name="txtSchool" (keyup)="saveToLocalStorage()" #txtSchool="ngModel">
                  <span *ngIf="frmRegistration.submitted && txtSchool.invalid" class="invalid-feedback">
                  <span *ngIf="txtSchool.errors.required" style="color: red;font-weight: bold">Required</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Z-Score</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <input type="text" class="form-control" required="true" [(ngModel)]="underGraduate.zscore"
                         name="txtZScore" (keyup)="saveToLocalStorage()" #txtZScore="ngModel">
                  <span *ngIf="frmRegistration.submitted && txtZScore.invalid" class="invalid-feedback">
                  <span *ngIf="txtZScore.errors.required" style="color: red;font-weight: bold">Required</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Year of A/L</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <input type="text" class="form-control" required="true" [(ngModel)]="underGraduate.yearAl"
                         name="txtYearAl" (keyup)="saveToLocalStorage()" #txtYearAl="ngModel">
                  <span *ngIf="frmRegistration.submitted && txtYearAl.invalid" class="invalid-feedback">
                  <span *ngIf="txtYearAl.errors.required" style="color: red;font-weight: bold">Required</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">A/L Results</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <textarea class="form-control" required="true" [(ngModel)]="underGraduate.alResults" name="txtResults"
                            (keyup)="saveToLocalStorage()" #txtResults="ngModel"></textarea>
                  <span *ngIf="frmRegistration.submitted && txtResults.invalid" class="invalid-feedback">
                  <span *ngIf="txtResults.errors.required" style="color: red;font-weight: bold">Required</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!checkInputFields()">
            <div class="row">
              <label class="col-sm-2 label-on-left">Institute / Company</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <input type="text" class="form-control" required="true" [(ngModel)]="postGraduate.institute"
                         name="txtInstitute" (keyup)="saveToLocalStorage()" #txtInstitute="ngModel">
                  <span *ngIf="frmRegistration.submitted && txtInstitute.invalid" class="invalid-feedback">
                  <span *ngIf="txtInstitute.errors.required" style="color: red;font-weight: bold">Required</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Year</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <input type="text" class="form-control" required="true" [(ngModel)]="postGraduate.year" name="txtYear"
                         (keyup)="saveToLocalStorage()" #txtYear="ngModel">
                  <span *ngIf="frmRegistration.submitted && txtYear.invalid" class="invalid-feedback">
                  <span *ngIf="txtYear.errors.required" style="color: red;font-weight: bold">Required</span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <label class="col-sm-2 label-on-left">Qualifications</label>
              <div class="col-sm-10">
                <div class="form-group label-floating is-empty">
                  <label class="control-label"></label>
                  <textarea class="form-control" required="true" [(ngModel)]="postGraduate.qualifications"
                            name="txtQualification" (keyup)="saveToLocalStorage()"
                            #txtQualification="ngModel"></textarea>
                  <span *ngIf="frmRegistration.submitted && txtQualification.invalid" class="invalid-feedback">
                  <span *ngIf="txtQualification.errors.required" style="color: red;font-weight: bold">Required</span>
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <label class="col-sm-2 label-on-left">Fee</label>
            <div class="col-sm-10">
              <div class="form-group label-floating is-empty">
                <label class="control-label"></label>
                <input type="text" class="form-control" required="true" disabled
                       [(ngModel)]="registration.degree.courseFee" name="txtFee">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12" style="height: 50px"></div>
          </div>
          <div class="row" style="padding-left: 50px" *ngIf="loginStatus()!=5">
            <div class="col-sm-4">
              <div class="card-footer">
                <button type="button" style="left: 50%;transform: translateX(-50%)" class="btn btn-fill"
                        (click)="previousPage()">Previous
                </button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card-footer">
                <button *ngIf="loginStatus()==1" type="submit" style="left: 50%;transform: translateX(-50%)"
                        class="btn btn-fill">Submit / Update Registration
                </button>
                <button *ngIf="loginStatus()!=1" type="submit" style="left: 50%;transform: translateX(-50%)"
                        class="btn btn-fill">Submit registration
                </button>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="card-footer">
                <button type="button" style="left: 50%;transform: translateX(-50%)" class="btn btn-fill"
                        (click)="nextPage()" [disabled]="registration.registrationId==undefined">Next
                </button>
              </div>
            </div>
          </div>

          <div class="row" style="padding-left: 50px" *ngIf="loginStatus()==5">
            <div class="col-sm-6">
              <div class="card-footer">
                <button type="button" style="left: 50%;transform: translateX(-50%)" class="btn btn-fill"
                        (click)="previousPage()">Previous
                </button>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card-footer">
                <button *ngIf="loginStatus()!=1" type="submit" style="left: 50%;transform: translateX(-50%)"
                        class="btn btn-fill">Submit registration
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
